* {
  box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  font-family: sans-serif;
  width: 1100px;
  height: 700px;
}

.hidden {
  display: none !important;
}

h2 {
  margin: 0 0 20px 0;
  user-select: none;
}

p {
  margin: 0 0 16px 0;
}

.primary {
  color: #15CFE5;
}

#main {
  background-color: #616161;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav-bar {
  background-color: #3D3D3D;
  padding: 20px 20px 20px 200px;
  flex: 0 0 68px;
  display: flex;
  align-items: center;
  position: relative;
}

#nav-bar h2 {
  display: inline-block;
  padding: 0 20px 0 20px;
  margin: 0;
  cursor: pointer;
}

#nav-bar h2.active {
  color: #15CFE5;
}

#nav-bar input {
  height: 28px;
  border: 2px solid #15CFE5;
  position: absolute;
  right: 20px;
  border-radius: 5px;
  padding-left: 30px;
}

#nav-bar:after {
  content: '\f002';
  font-family: 'Font Awesome 5 Free';
  display: block;
  font-weight: 900;
  color: #3d3d3d;
  right: 200px;
  position: absolute;
}

#center {
  display: flex;
  flex-grow: 1;
}

#side-bar {
  flex: 0 0 200px;
  background-color: #535353;
  padding: 20px;
}

#side-bar #add {
  margin-left: 40px;
}

#side-bar #playlistList div {
  margin: 0 -20px;
  padding: 10px 20px;
}

#side-bar #playlistList div.active {
  background-color: #3D3D3D;
}

#side-bar #playlistList div p {
  margin-bottom: 0;
}

#content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#content .songList {
  width: 100%;
}

#controls {
  flex: 0 0 200px;
  background-color: #3D3D3D;
  height: 200px;
  position: relative;
}

#controls button {
  position: absolute;
  /* background-color: blue; */
  width: 40px;
  height: 40px;
  bottom: 40px;
  font-size: 40px;
  text-align: center;
  vertical-align: baseline;
}
.toggle{
  color: #15CFE5;
}

button:hover {
  color: #dddddd;
}

button:active {
  color: #15CFE5;
}

button#shuffle {
  left: calc(50% - 220px);
}

button#backward {
  left: calc(50% - 120px);
}

button#play {
  left: calc(50% - 25px);
  bottom: 35px;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

button#forward {
  left: calc(50% + 80px);
}

button#repeat {
  left: calc(50% + 180px);
}

button#volume {
  right: 220px;
  font-size: 25px;
}

button#details {
  right: 160px;
  font-size: 25px;
}

button#eq {
  right: 100px;
  font-size: 25px;
}

button#settings {
  right: 40px;
  font-size: 25px;
}

#controls #albumart {
  width: 200px;
  height: 100%;
  background-color: #2d2d2d;
  background-image: url('img/default.png');
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#controls p {
  text-align: center;
  margin-bottom: 0;
}

#controls #songname {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 5px 0;
}

#controls #albumname {
  margin-bottom: 5px;
}

#controls #progress {
  margin: auto;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls #progress * {
  display: inline-block;
}

#controls #progressbar {
  flex: 0 0 500px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

#controls #progress-left,
#controls #progress-right {
  flex: 0 0 50px;
  text-align: center;
}

.sorting_asc:after {
  content: '\f078';
  font-family: 'Font Awesome 5 Free';
  display: block;
  font-weight: 900;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.sorting_desc:after {
  content: '\f077';
  font-family: 'Font Awesome 5 Free';
  display: block;
  font-weight: 900;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.songList {
  border-collapse: collapse;
}

.songList tr {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.songList tr:hover {
  background-color: #535353;
}

.songList tr.active {
  background-color: #535353;
}

.songList tr.active td:first-child:before {
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  display: block;
  font-weight: 900;
  left: 10px;
  position: absolute;
}

.songList tr td:first-child {
  padding-left: 40px;
}

.songList th, td {
  padding: 10px;
  text-align: left;
  position: relative;
}

.songList td span {
  display:block;
  max-width: 183px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.songList th {
  border-bottom: 1px solid white;
}
